version: "3.8"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev # 개발용
    container_name: frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    working_dir: /app
    env_file:
      - ./.env.frontend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev # 개발용
    container_name: backend
    ports:
      - "8080:8080"
    volumes:
      - ./backend/src:/app/src
      - ./backend/build.gradle:/app/build.gradle
      - ./backend/settings.gradle:/app/settings.gradle
      - ./backend/gradle:/app/gradle
    stdin_open: true
    tty: true
    depends_on:
      - mysql
    env_file:
      - ./.env.backend

  mysql:
    image: mysql:8.0
    ports:
      - "3308:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    env_file:
      - ./.env.db

  fastapi:
    build:
      context: ./fastapi
      dockerfile: Dockerfile
    ports:
      - "9090:9090"
    volumes:
      - ./fastapi:/app
    depends_on:
      - backend
      # - mysql
    env_file:
      - ./.env.fastapi

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    # restart: always

volumes:
  mysql-data:
