spring:
  application:
    name: AiLectureSummary

  datasource:
    url: ${SPRING_DATASOURCE_URL}    
    username: root
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

  servlet:
    multipart:
      max-file-size: 25MB
      max-request-size: 25MB

  cookie:
    http-only: ${COOKIE_HTTP_ONLY}
    secure: ${COOKIE_SECURE}
    same-site: ${COOKIE_SAME_SITE}

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
      timeout: 6000

jwt:
  secret: ${JWT_SECRET}
  expiration: 3600000
#  expiration: ${JWT_EXPIRATION}


fastapi:
  url: ${FASTAPI_URL}
