spring:
  application:
    name: AiLectureSummary

  datasource:
    url: jdbc:mysql://mysql:3306/ai_lecture_summary
    username: root
    password: ${MYSQL_ROOT_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect